<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>List of galleries</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <% directories.to_a.sort.each do |dir| %>
                        <div class="row">
                            <a href="<%= dir %>/gallery.html"><%= dir %></a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
